
@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Medium.ttf");
}
:root{
    --primary:#1090CB;
}
.nav-buuton{
    background-color: var(--primary) !important;
    color: white !important;
}
.active-home{
    color: var(--primary) !important;
}
.btn-bg{
    background-color: var(--primary) !important;
    color: white !important;
}
.btn-outline{
    border: 1px solid var(--primary) !important;
    background-color: #ffff !important;
    color: var(--primary) !important;
}
h1 span{
    color: var(--primary) !important;
}
.card2{
    background-color: var(--primary) !important;
    border-radius: 20px !important;
}
.card1{
    background-color: #F4F4F4 !important;
    border-radius: 20px !important;
}
.cards-para{
    font-family: Poppins !important;
}
.herospan-color{
    color: var(--primary) !important;
}
.outline{
    border: 1px solid var(--primary) !important;
    background-color: white !important;
    color: var(--primary) !important;
}
.custom-color{
    color: #ffff !important;
}
.color{
    background-image: url(./images/Rectangle\ 6.png) !important;
    width: 83px !important ;
    height: 83px !important ;
    display: flex !important;
    justify-content: center !important;
    align-items: center ;
}
.color img{
    width: 40% !important;
}
.color2{
    background-image: url(./images/Rectangle\ 7\ \(2\).png) !important;
}
.color3{
    background-image: url(./images/Rectangle\ 8\ \(1\).png) !important;
}
.color4{
    background-image: url(./images/Rectangle\ 9\ \(1\).png) !important;
}
.bg{
    background-image: url(./images/Ellipse\ 3\ \(4\).png) !important;
    width: 58px !important;
    height: 58px !important;
}
.bg2{
     background-image: url(./images/Ellipse\ 3\ \(5\).png) !important;
    width: 58px !important;
    height: 58px !important;
}
.bg3{
     background-image: url(./images/Ellipse\ 3\ \(6\).png) !important;
    width: 58px !important;
    height: 58px !important;
}
.para{
    font-family: Poppins !important;  
    font-size: 18px !important;
    line-height: 170% !important;
}
.herosection-color{
   background: #1090CB1A !important;
}
.fs-custom{
    font-size: 15px !important;
}
.pt-custom{
    padding-top: 150px !important;
}
.icons{
    border: none !important;
    outline: none !important;
    border-radius: 50% !important;
    box-shadow: 0px 4px 14px 0px #00000026 !important;
    padding: 10px 13px !important;   
}
.fw-custom{
    font-weight: 550 !important;
    color: #252525 !important;
     font-family: Poppins !important;
}
.custom{
      font-family: Poppins !important;
}
.input-custom{
    border: none !important;
    outline: none !important;
    background-color: #ffff !important;
    border-radius: 8px !important;
    width: 37% !important;
    padding: 19px 10px !important;
    padding-left: 37px !important;
    box-shadow: 0px 4px 84px 0px #00000012;
    font-family: Poppins !important;
    font-weight: 50 !important;
}
.inputdiv{
    width: 50% !important;
}
.input-gap{
    gap: 80px !important;
    height: 600px !important;
    align-items: center !important;
    justify-content: center !important;
}
/* media queries */
@media screen and (max-width:575px) {
    .input-custom{
        width: 100% !important;
    }
    .fw-custom{
        font-size: 25px !important;
    }
}
@media screen and (min-width:576px) and (max-width:766px) {
    .input-custom{
        width: 100% !important;
        margin-bottom: 30px !important;
    }
}
@media screen and (min-width:767px) and (max-width:991px)  {
    .input-custom{
        width: 50% !important;
    }
}
@media screen and (min-width:992px) and (max-width:1399px)  {
    .input-custom{
        width: 50% !important;
    }
}
@media screen and (min-width:1400px) {
    .input-custom{
        width: 40% !important;
    }
}
